
$transparent: transparent;

$white: unquote("#ffffff");
$black: unquote("#000000");
$gray-100: unquote("#d0d2d5");
$gray-120: unquote("#f7f7f7");
$gray-400: unquote("#e4e4e4");
$gray-500: unquote("#9d9d9d");
$gray-blue-200: unquote("c3cfd8");
$blue-100: unquote("#f4f6f8");
$blue-300: unquote("#6e7aca");
$blue-400: unquote("#606dc5");
$blue-900: unquote("#212b35");
$blue-950: unquote("#0122a5");

$preview-gradient: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(179,179,179,1) 10%);